{% extends "core/base.html" %}
{% load static %}
{% block title %}  Change Password {% endblock title %}

    {% block content %}
    <!--====== PAGE BANNER PART START ======-->
    
  
    <section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" style="background-image: url( {% if page.img %} {{ page.img.url }} {% else %} {% static 'images/main.png' %} {% endif %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-banner-cont">
                        <h2>Change Password</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href=" ">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Change Password</li>
                            </ol>
                        </nav>
                    </div>  <!-- page banner cont -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== PAGE BANNER PART ENDS ======-->
    
    <!--====== CONTACT PART START ======-->
    
    <section id="contact-page" class="pt-90 pb-120 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact-from mt-30">
                        <div class="section-title">                            
                            <h2>Change Password to Your Account</h2>
                        </div> <!-- section title -->
                        <div class="main-form pt-45">
							{% if validlink %}
                            <form id="" action="" method="POST" data-toggle="validator">
                                {% csrf_token %}
                                <input name='next_url' type="hidden" value= "{{ request.get_full_path }}" >
                                <div class="row">
									{% for field in form %}
									
									<div class="single-form form-group">
											{{ field.label_tag }}
										{{ field }}
									</div>
									
										{% for error in field.errors %}
									<div class="single-form form-group" style="color: red">
										{{ error }}
									</div>
									
										{% endfor %}
									{% endfor %}
                                
                                    <p class="form-message"></p>
                                    <div class="col-md-12">
                                        <div class="single-form">
                                            <button type="submit" class="main-btn">Submit</button>
                                            <span>
                                                Don't Have an account? <a href="{% url 'accounts:signup' %}">Register</a>
                                            </span>
                                            <br />
                                            <span>
                                               Forgot Password? <a href="{% url 'forgot_password' %}">Reset</a>
                                            </span>
                                            
                                        </div> <!-- single form -->
                                    </div> 
                                </div> <!-- row -->
							</form>
							{% else %}
							<div class="main-form pt-45">
								<div class="single-form">
									<p>
									The password reset link was invalid, possibly because it has already been used.
									Please request a new password reset
									<span class="sign__text"><a href="{% url 'forgot_password' %}">Here</a></span>
									</p>
								</div>
							</div> 
							
							{% endif %}
                        </div> <!-- main form -->
                    </div> <!--  contact from -->
                </div>
                
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
  
    {% endblock content %}